html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
   @include mq(small) {
      height: auto;
   }
}

#app {
   position: relative;
   @include width-height(100%, 100vh);
   min-height: 100vh;
   background-color: var(--blue-100);

   @include mq(small) {
      height: auto;
   }
}

.main-wrapper {
   @include width-height(100%, 100%);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('/images/bg-layer.webp');
   background-repeat: no-repeat;
   background-size: 100% auto; 
   background-position: bottom center; 
}

button,
.btn {
  cursor: pointer;
  padding: 0;
}


li, ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

a {
  text-decoration: none;
}

//typography 

.header-xl {
   font-family: "Montserrat";
   font-size: 6.6875rem;
   font-style: normal;
   font-weight: 900;
   line-height: 110%; /* 7.35625rem */
   letter-spacing: 0.06688rem;
   text-transform: uppercase;
   color: var(--white-100);

   @include mq(small) {
      font-size: 3.54375rem;
      letter-spacing: 0.03544rem;
   }
}

.header-l {
   font-family: "Montserrat";
   font-size: 3.5625rem;
   font-style: normal;
   font-weight: 900;
   line-height: 110%; /* 3.91875rem */
   letter-spacing: 0.03563rem;
   text-transform: uppercase;
   color: var(--white-100);

   @include mq(small) {
      font-size: 1.25rem;
      letter-spacing: 0.0125rem;
   }
}

.body-m {
   font-family: "CeraPro";
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: 120%; /* 1.8rem */
   text-transform: uppercase;
   font-display: swap;
}

// buttons

.round-btn-next {
   @include width-height(3.0625rem, 3.0625rem);
   @include flexbox(row, center, center, 0);
   fill: var(--white-100);
   backdrop-filter: blur(7.5px);
   border-radius: 50%;
   border: transparent;
   background-image: url('/icons/next-arrow.svg');
   background-color: transparent;
   transition: background-image 0.3s, background-color 0.3s;

   // &:disabled {
   //    fill: var(--blue-100);
   // }
}

.round-btn-next.error {
   background-image: url('/icons/error.svg'); 
 }

.round-btn-previous {
   @include width-height(3.0625rem, 3.0625rem);
   @include flexbox(row, center, center, 0);
   fill: var(--blue-100);
   backdrop-filter: blur(7.5px);
   border-radius: 50%;
   border: transparent;
   background-image: url('/icons/previous-arrow.svg');
   background-color: transparent;

   // &:disabled {
   //    fill: var(--blue-100);
   // }
}

.accent {
   color: var(--black-100);
   font-weight: bold;
 }

.margin-main {
   margin-top: 5rem;
}

.padding-small {
   padding-inline: 2.06rem;

   @include mq(small) {
      padding-inline: 0.94rem;
   }
}
