@font-face {
   font-family: 'Inter';
   src: url('../fonts/Inter/Inter18pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter18pt-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat Black'),
    url(../fonts/Montserrat/Montserrat-Black.woff2) format('woff2'),
    url(../fonts/Montserrat/Montserrat-Black.woff) format('woff');
  font-style: normal;
  font-weight: 900;
}

@font-face {
   font-family: 'Montserrat';
   src:
     local('Montserrat Medium'),
     url(../fonts/Montserrat/Montserrat-Medium.woff2) format('woff2'),
     url(../fonts/Montserrat/Montserrat-Medium.woff) format('woff');
   font-style: normal;
   font-weight: 500;
 }

@font-face {
  font-family: 'CeraPro';
  src:
    local('CeraPro Regular'),
    url(../fonts/CeraPro/CeraPro-Regular.woff2) format('woff2'),
    url(../fonts/CeraPro/CeraPro-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
   font-family: 'CeraPro';
   src:
     local('CeraPro Medium'),
     url(../fonts/CeraPro/CeraPro-Medium.woff2) format('woff2'),
     url(../fonts/CeraPro/CeraPro-Medium.woff) format('woff');
   font-style: normal;
   font-weight: 500;
 }

 @font-face {
   font-family: 'CeraPro';
   src:
     local('CeraPro Black'),
     url(../fonts/CeraPro/CeraPro-Black.woff2) format('woff2'),
     url(../fonts/CeraPro/CeraPro-Black.woff) format('woff');
   font-style: normal;
   font-weight: 900;
 }

 @font-face {
   font-family: 'HelveticaNeueCyr';
   src:
     local('HelveticaNeueCyr Roman'),
     url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff2) format('woff2'),
     url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff) format('woff');
   font-style: normal;
   font-weight: 400;
 }



