:root {
   --white-100: hsl(0, 0%, 100%);
   --black-100: hsl(222, 43%, 9%);
   --black-200: hsl(0, 0%, 0%);
   --blue-100: hsl(226, 99%, 59%);
   --blue-200: hsl(210, 100%, 18%);
   --blue-300: hsl(217, 92%, 62%);
   --accent: hsl(77, 100%, 50%, 1);
}
